# Ignore all files in static/art as well as the folder art itself
static/art/*

# Ignore file src/payloads.py and src/website_copy.py
src/payloads.py
src/website_copy.py
src/brig.py

# Ignore all files in .venv and src/__pychache__ as well as the folders themselves
.venv/*
src/__pycache__/*

# Ignore .env file in src/
src/.env

docker-desktop-config.yaml

deployment/secrets.yaml

base-64-encode.ps1

base-64-tofile.ps1

kubeconfig.txt