<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Art Showcase</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles_checkout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/general_styles.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles_page_white.css') }}">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', path='/toggle_menu_checkout.js') }}"></script>
    <script src="{{ url_for('static', path='/checkout.js') }}"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="spinner hidden"></div>
<div class="header">
    <div class="brigLogo">
        <img src="{{ brig_logo_url }}" oncontextmenu="return false;" draggable="false">
    </div>
    <div class="navbar">
        <a class= "home" href="/">HOME</a>
        <a class= "giclee" href="/giclee_prints">GICLÉE PRINTS</a>
        <a class= "shop" href="/shop_art_menu">SHOP ART</a>
        <a class= "cart_a" onclick = "checkoutRedirect()">
            <div class="icon-cart" style="clear: left; float: left">
                <div class="icon-wrapper">
                    <div class="cart-line-1" style="background-color: black;"></div>
                    <div class="cart-line-2" style="background-color: black;"></div>
                    <div class="cart-line-3" style="background-color: black;"></div>
                    <div class="cart-wheel" style="background-color: black;"></div>
                </div>                
            </div>
        </a>
        <span id="cartQuantity" class="cart-quantity"></span>
    </div>
    <div class="mobile-menu">
        <div class="hamburger-icon">
            <label class="hambuger-menu" onclick="toggleIcon(); toggleMenu(); toggleDropdown()" >
                <div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
            </label>
        </div>
        <div class = "shopping_cart_icon">
            <a onclick = "checkoutRedirect()">
                <div class="icon-cart" style="clear: left; float: left">
                    <div class="icon-wrapper">
                        <div class="cart-line-1" style="background-color: black;"></div>
                        <div class="cart-line-2" style="background-color: black;"></div>
                        <div class="cart-line-3" style="background-color: black;"></div>
                        <div class="cart-wheel" style="background-color: black;"></div>
                    </div>                
                </div>
            </a>   
        </div>     
        <span id="mobileCartQuantity" class="cart-quantity-mobile"></span>
        <div class="mobile-dropdown">
            <a href="/">HOME</a>
            <a href="/giclee_prints">GICLÉE PRINTS</a>
            <a href="/shop_art_menu">SHOP ART</a>
        </div>
    </div>
</div>
<div class="shop-more-wrapper">
    <div class="shop-more"></div>
</div>
<div class="content">
    <div class="left-section" id="leftSection">
        <div class="collapsible-section" id="shippingInfoSection">
            <h1 class="collapsible-header disabled">Shipping Information<span class="arrow">&#9660;</span></h1>
            <div class="collapsible-content">
                <form id="shipping-form">
                    <div id="shipping-element">
                      <!-- Your shipping form elements here -->
                    </div>
                </form>
                <button class="continue-btn" onclick="toggleNextSection('shippingInfoSection', 'paymentInfoSection')">Continue</button>
            </div>
        </div>
        <div class="collapsible-section" id="paymentInfoSection">
            <h1 class="collapsible-header disabled">Payment Information<span class="arrow">&#9660;</span></h1>
            <div class="collapsible-content">
                <form id="payment-form">
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <button id="submit" class="continue-btn" onclick="toggleNextSection('paymentInfoSection', 'Submit')">
                        <div class="spinner hidden"></div>
                        <span id="button-text"  id="spinner">Pay now</span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="right-section" id="rightSection">
        <h1>Order Summary</h1>
        {% for img_data in img_data_list %}
         <div class="info_container">
            <div class="image_container" style="background-image: url('{{ img_data.img_uri }}')" draggable="false" oncontextmenu="return false">
            </div>
            <div class="title_container">
                <p>{{ img_data.img_title }}</p>
            </div>
            <div class="quantity-container">
                <div class = "quantity-controls">
                    <button class="decrease-quantity" onclick="decreaseQuantity(this)">-</button>
                    <input id= "price-quantity" class = "quantity-input" font-size = "16px" value = "{{ img_data.quantity }}"  type="text" readonly>
                    <button class="increase-quantity" onclick="increaseQuantity(this)">+</button>
                </div>
                <p class="price" id="price-text">${{ img_data.price }}</p>
                <div class="price-remove-container">
                    <button class="remove-item" onclick="removeItemButton(this)">X</button>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class = "checkout-container">
            <p class="total">Total: $<span id="total-price">{{ total_price }}.00</span></p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; <span id="currentYear"></span> Brig Light. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Accept a payment</title>
  <meta name="description" content="A demo of a payment on Stripe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/checkout.css') }}">
  <script src="{{ url_for('static', path='/checkout.js') }}"></script>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
   
  <div class="container">
    <div class ="order-summary">
        <h1>Order Summary</h1>
        {% for img_data in img_data_list %}
        <div class = "info_container">
            <div class = "image_container" style = "background-image: url('{{ img_data.img_uri }}')" draggable="false" oncontextmenu="return false">
        </div>
        {% endfor %}
    </div>

    <form id="shipping-form">
      <div id="shipping-element">
      </div>
    </form>
    <form id="payment-form">
      <div id="payment-element">
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </div>
</body>
</html> -->
