<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16685452900"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-16685452900');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop Art Showcase</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}?v={{ version }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/general_styles.css') }}?v={{ version }}" />
    <script src="{{ url_for('static', path='/drag_and_drop.js') }}?v={{ version }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/drag_and_drop.css') }}?v={{ version }}" />

</head>
<body>

<div class="header">
    <h1>Reorder Your Art</h1>
</div>

<form method="post" action="/update_artwork_order" id="artworkForm">
    <div class="artwork-container" id="artworkContainer">
        {% for art_uri, art_title in artworks %}
            <div class="artwork-item" draggable="true" data-index="{{ loop.index0 }}">
                <div class="artwork" style="background-image: url('{{ art_uri }}');"></div>
                <input type="hidden" name="art_order[]" value="{{ art_title }}">
            </div>
        {% endfor %}
    </div>
    <button type="submit">Save Order</button>
</form>

<footer class="footer">
    <p>&copy; <span id="currentYear"></span> Art Ecommerce, LLC. All rights reserved.</p>
</footer>

</body>
</html>
