<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <meta charset = "UTF-8">
    <title>Art Showcase</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles_shop_art_menu.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
<div class="header">
    <div class="brigLogo">
        <img src="{{ brig_logo_url }}" oncontextmenu="return false;" draggable="false">
    </div>
    <div class="navbar">
        <a class= "home" href="/">HOME</a>
        <a class= "giclee" href="/giclee_prints">GICLÉE PRINTS</a>
        <a class= "shop" href="/shop_art_menu">SHOP ART</a>
        <a class= "cart_a" href="/shop_art">
            <img src="{{ shopping_cart_url}}" id = "shoppingCart" class = "cart" oncontextmenu="return false;" draggable="false">
        </a>
        <span id="cartQuantity" class="cart-quantity"></span>
    </div>
    <div class="mobile-menu">
        <label class="hamburger-menu">
            <input type="checkbox" onclick = "toggleMenu(); toggleDropdown();">
        </label>
        <a href="/shop_art">
            <img src="{{ shopping_cart_url}}" id = "shoppingCart" class = "cart-mobile" oncontextmenu="return false;" draggable="false">
        </a>
        <span id="mobileCartQuantity" class="cart-quantity-mobile"></span>
        <div class="mobile-dropdown">
            <a href="/">HOME</a>
            <a href="/giclee_prints">GICLÉE PRINTS</a>
            <a href="/shop_art_menu">SHOP ART</a>
        </div>
    </div>
</div>
<div class = "glance">
    <div class = "glance_inner">
        <h1>Shop Art</h1>
    </div>
</div>
<form method="post" id="myForm">
    <div class="content">
        {% for title, temp_var in artwork_data %}
        <a class = "underline-link" href="#" onclick="submitForm('{{ title }}','GET'); return false;">
            <div class = "artwork-wrapper">
                <div style="background-image: url('{{ temp_var }}');" oncontextmenu="return false" draggable = "false" class="artwork"></div>
            </div>
            <span class="artwork-name" >{{ title }}</span>
            <span class="artwork-price" >$225.00</span>
        </a>
        {% endfor %}
    </div>
</form>

<footer class="footer">
    <div class="contact_form">
        <h1>Stay Connected</h1>
        <div class="description">
            <p>SIGN UP WITH YOUR EMAIL ADDRESS TO RECEIVE UPDATES</p>
        </div>
        <div class="email-input-container">
            <input id="emailInput" type="email" placeholder="EMAIL ADDRESS">
            <button onclick="emailListEnter()" type="submit">SIGN UP</button>
        </div>
        <div class="footer_navbar">
            <a href="/">HOME | </a>
            <a href="/giclee_prints"> GICLÉE PRINTS |</a>
            <a href="/shop_art_menu"> SHOP ART</a>
        </div>
    </div>
    <div class="contact_info">
        <h1>Brig Light Art</h1>
        <p>Carlsbad,CA</p>
        <p>INFO@BRIGLIGHT.COM</p>
        <p>760-613-5898</p>
    </div>
    <div class="container">
        <p>UIcons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
        <p>&copy; <span id="currentYear"></span> Brig Light. All rights reserved.</p>
    </div>
</footer>


<script src="{{ url_for('static', path='/toggle_menu_shop_art_menu.js') }}"></script>
</body>
</html>

