<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset = "UTF-8">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles_terms.css') }}?v={{ version }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/general_styles.css') }}?v={{ version }}">
    <script src="{{ url_for('static', path='/toggle_menu_shop.js') }}?v={{ version }}"></script>
    <script src="{{ url_for('static', path='/general_scripts.js') }}?v={{ version }}"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="brigLogo">
            <img src="{{ brig_logo }}" oncontextmenu="return false;" draggable="false">
        </div>
        <div class="navbar">
            <a class= "home" href="/">HOME</a>
            <a class= "giclee" href="/giclee_prints">GICLÉE PRINTS</a>
            <a class= "shop" href="/shop_art_menu">SHOP ART</a>
            <div class="shopping_cart_icon">
                <div class = "center_cart">            
                    <a onclick = "checkoutRedirect()">
                        <div class="icon-cart" style="clear: left; float: left">
                            <div class="icon-wrapper">
                                <div class="cart-line-1" style="background-color: white;"></div>
                                <div class="cart-line-2" style="background-color: white;"></div>
                                <div class="cart-line-3" style="background-color: white;"></div>
                                <div class="cart-wheel" style="background-color: white;"></div>
                            </div>                
                        </div>
                    </a>   
                </div>
            </div>
            <span id="cartQuantity" class="cart-quantity"></span>
        </div>
        <div class="mobile-menu">
            <div class="hamburger-icon">
                <label class="hambuger-menu" onclick="toggleIcon(); toggleMenu(); toggleDropdown()" >
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                </label>
            </div>
            <div class = "shopping_cart_icon">
                <a onclick = "checkoutRedirect()">
                    <div class="icon-cart" style="clear: left; float: left">
                        <div class="icon-wrapper">
                            <div class="cart-line-1" style="background-color: white;"></div>
                            <div class="cart-line-2" style="background-color: white;"></div>
                            <div class="cart-line-3" style="background-color: white;"></div>
                            <div class="cart-wheel" style="background-color: white;"></div>
                        </div>                
                    </div>
                </a>   
            </div>     
            <span id="mobileCartQuantity" class="cart-quantity-mobile"></span>
            <div class="mobile-dropdown">
                <a href="/">HOME</a>
                <a href="/giclee_prints">GICLÉE PRINTS</a>
                <a href="/shop_art_menu">SHOP ART</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class = "content">
            <div class="content_cart">
                <div class="terms">
                    <h2>Terms and Conditions</h2>
                    <h2>1. Introduction</h2>
                    <p>These Website Standard Terms and Conditions (the "Terms") govern your use of the website (the "Website")<a href="/" class="page_links">briglightart.com</a> and it's products. By accessing or using this Website, you agree to be bound by these Terms. If you disagree with any part of these Terms, you must not use the Website.</p>

                    <h2>2. Intellectual Property Rights</h2>
                    <p>Under these Terms, Art Ecommerce, LLC and/or its clients retain all intellectual property rights to the artwork and materials contained on this Website. You are granted a limited license only for the purpose of viewing or displaying the material contained on this Website. When a buyer purchases an original print, they acquire ownership of the physical item but are not permitted to reproduce or copy the artwork. Buyers are only permitted to display art on a wall. However, buyers are permitted to resell the original art pieces or prints they purchase.</p>

                    <h2>3. Restrictions</h2>
                    <p>You are specifically restricted from:</p>
                    <p>- Publishing any Website material in any other media;</p>
                    <p>- Selling, sublicensing, and/or otherwise commercializing any Website material;</p>
                    <p>- Publicly performing and/or showing any Website material;</p>
                    <p>- Using this Website in any way that is or may be damaging to the Website;</p>
                    <p>- Using this Website in any way that impacts user access to this Website;</p>
                    <p>- Using this Website contrary to applicable laws and regulations, or in any way that may cause harm to the Website, or to any person or business entity;</p>
                    <p>- Engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this Website;</p>
                    <p>- Using this Website to engage in any advertising or marketing.</p>
                    <p>Certain areas of this Website are restricted from access by you, and Art Ecommerce, LLC may further restrict access to any areas of this Website at any time, in its absolute discretion.</p>

                    <h2>4. Company Information</h2>
                    <p>Art Ecommerce, LLC is the parent company of the website <a class = "page_links" href="/">briglightart</a>. If you have any questions about this Privacy Policy or our practices, please contact us at:</p>
                    <p>Email: <a class = "page_links" href="mailto:ben@artecommercellc.com">ben@artecommercellc.com</a></p>
                    <p>Address: 1500 Halia Court, Encinitas CA, 92024</p>
                </div>    
        </div>
        
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer_navbar">
                <a href="/">HOME</a> |
                <a href="/giclee_prints">GICLÉE PRINTS</a> |
                <a href="/shop_art_menu">SHOP ART</a>
            </div>
            <br>
            <div class="footer_navbar">
                <a href="/terms_and_conditions">TERMS AND CONDITIONS</a> |
                <a href="/privacy_policy">PRIVACY POLICY</a> |
                <a href="/return_policy">RETURN POLICY</a>
            </div>
            <p>&copy; <span id="currentYear"></span> Art Ecommerce, LLC. All rights reserved.</p>
        </div>
    </footer>
</body>