/* General Styles */

.loading-bar {
    width: 100%;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}

.loading-bar-progress {
    height: 100%;
    background-color: #349ef5;
    animation: progress 2s linear infinite;
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.email-enter,
.payment-info,
.billing-address {
    margin-bottom: 20px;
}

input[readonly]:focus {
    outline: none;
}

.more-shop-styles {
    background-color: #349ef5;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px 40px 30px 40px;
    font-size: 20px;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline from anchor tag */
}
.more-shop-styles:hover {
    background-color: #0056b3;
}
.email-enter input[type="email"]:focus,
.payment-info input[type="text"]:focus,
.billing-address input[type="text"]:focus {
    border-color: #349ef5;
}

label {
    font-weight: bold;
    margin-bottom: 2px;
}
br{
    margin:5px;
}
.continue-btn {
    background-color: #349ef5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: inherit;
    transition: background-color 0.3s;
}

.continue-btn:hover {
    background-color: #0056b3;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
    overflow-x: hidden !important;
    background-color: white;
    display: flex;
    flex-direction: column; /* Make the body a flex container with column direction */
}

:root {
    --bar-width: 45px;
    --bar-height: 8px;
    --hamburger-gap:4px;
    --foreground: #040404;
    --background: white;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin:left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;  
    outline: none;
    pointer-events: none; 
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

a:link,
a:visited {
    text-decoration: none; /* Remove underline for both unvisited and visited links */
    color: #349ef5; /* Inherit the color from the parent element */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
}
.mobile-menu {
    display: none;
}
.navbar,
.mobile-menu {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 27px;
    transition: color 0.3s;
}

.home {
    margin-right: 40px;
}

.giclee {
    margin-right: 40px;
}

.shop {
    margin-right: 40px;
}

.navbar a:hover {
    color: #349ef5;
    text-decoration: underline;
}

.navbar img,
.mobile-menu img {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: fill 0.3s;
}

.hamburger-menu {
    margin-right: 10px;
}

.brigLogo img {
    width: 150px;
    height: auto;
    margin: 10px;
}

.footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}
.content {
    display: flex;
    flex-direction: row; /* Change back to row layout for larger screens */
    justify-content: center; /* Center items horizontally in row layout */
}
.left-section {
    z-index: 1 ;
    align-items: center;
    margin-right:70px;
    width: 300px;
}
.price {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    white-space: nowrap;
    margin-right:2px;
    margin-bottom: 2px;;
}
.right-section {
    display: flex;
    flex-direction: column;
    width: 300px
}
.quantity-input {
    width: 100%;
    padding: 10px;
    border: 1px solid white; /* Set the border directly to be 3px solid black */
    transition: border-color 0.3s;
    outline: none; /* Remove outline on focus */
    position: relative;
    z-index: 2; /* Increase z-index */
    box-shadow: none; /* Remove box-shadow */
    /* Add vendor prefixes for mobile webkit browsers */
    -webkit-appearance: none; /* Remove default styles in iOS Safari */
    -moz-appearance: none;    /* Remove default styles in Firefox */
    appearance: none;         /* Remove default styles in modern browsers */
    border-radius: 5px;
}
.email-enter,
.payment-info,
.billing-address {
    width:100%;
    
}

.email-enter input[type="email"],
.email-enter input[type="text"],
.payment-info input[type="text"],
.billing-address input[type="text"]{
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(100% - 6px);
    border: 1px solid black; /* Set the border directly to be 3px solid black */
    transition: border-color 0.3s;
    outline: none; /* Remove outline on focus */
    box-shadow: none; /* Remove box-shadow */
}

/* Style the input when focused */
.email-enter input[type="email"]:focus,
.Delivery-Methods input[type="radio"]:focus {
    border-color: #349ef5; /* Change border color when focused */
}

/* Style the input when focused and the browser supports focus-visible */
.email-enter input[type="email"]:focus-visible,
.Delivery-Methods input[type="radio"]:focus-visible {
    border-color: #349ef5; /* Change border color when focused and visible */
}
.info_container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin-bottom:10px;
}
.info_container p {
    font-size: 16px;
    white-space: nowrap;
    margin-top: 0px;
}
.image_container {
    display: flex;
    width:40px;
    margin-left:0;
    background-size: cover; /* Ensure the background image covers the container */
    background-position: center;
}
.image_container img {
    height: auto;
    width: 40px;
    height: auto;
}
.title_container {
    display: flex;
    margin-bottom: 20px;
    width: 200px;
}
.title_container p {
    margin-left:3px;
}

.content_cart{
    margin-left:49px;
    margin-right:49px;
    text-align:left;
    background-color: #040404;
    width: 300px;
}
.content_cart h1{
    color:white;
}
.quantity-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    color: black;
    font-size: 15px;
    height:20px;
    margin-top:7px;
    width: 293px;
    text-align:right;
    position: relative;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    
}
.quantity-controls {
    display: flex;
    flex-direction: row; /* Keep the buttons in a row */
    align-items: center;
    font-size: 20px;
    
}
.quantity-input{
    color: inherit;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    flex: 1 1 0%;
    font-family: inherit;
    line-height: 22px;
    padding: 0px;
    caret-color: black;
    vertical-align: top;
    max-width: 42px;
    min-width: 40px;
    width:1%;
    margin: 0px;
}
.quantity-input[type="text"][disabled] {
    color:white;
}
.price-remove-container {
    display: flex;
    flex-direction: row; /* Keep the price and remove button in a row */
    margin-right:0; /* Add margin between quantity controls and price/remove */
}

.quantity-container button {
    padding: 2px 7px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.6s;
    border-radius: 50%;    
}
.quantity-container button:first-child {
    padding-left:8px;
    padding-right:8px;
}
.quantity-container button:hover {
    background-color: black;
    color: white;
}

.quantity-container p {
    font-size: 18px;
    margin-left: 40px;;
}

.continue-btn {
    background-color: #349ef5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s;
}

.continue-btn:hover {
    background-color: #0056b3;
}

.cart-quantity {
    color: black;
    text-align: center;
    font-size: 27px;
    padding: 0 1px;
}
.remove-item, .increase-quantity, .decrease-quantity{
    padding: 5px 6px;
    background-color: #349ef5; /* Example color for remove button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Add margin between price and remove button */
    transition: background-color 0.3s;
}
.cart_a {
    text-decoration: none;
    color: black;
}

/* Media Queries */
@media (max-width: 827px) {
    .right-section {
        order: -1; /* Move the right section above the left section in column layout */
    }
    .left-section {
        margin-right: 0;
    }
    .content {
        display: flex;
        flex-direction: column; /* Change to column layout for mobile */
        align-items: center; /* Center items horizontally in mobile view */
    }

    .cart-quantity-mobile {
        display:inline-block;
        color: black;
        font-size: 27px;
    }

    .navbar {
        display: none;
    }

    .quantity-container {
        justify-content: center;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu.hide {
        display: none;
    }

    .mobile-dropdown {
        display: none;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        text-align: center;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .mobile-dropdown a {
        color: black;
        text-decoration: none;
        padding: 20px;
        font-size: 50px;
        width: 100%;
        transition: color 0.3s;
        box-sizing: border-box;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mobile-dropdown a:hover {
        color: #349ef5;
        text-decoration: underline;
    }

    .mobile-dropdown.show {
        display: block;
    }

    .content.hide {
        display: none;
    }

    .footer.hide {
        display: none;
    }
}
