/* General Styles */
html {
    height: 100%;
}
a:link,
a:visited {
    text-decoration: none; /* Remove underline for both unvisited and visited links */
    color: #349ef5; /* Inherit the color from the parent element */
}
body {
    background-color: #040404;
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100%;
    overflow-x: hidden !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040404;
    padding: 20px 40px;
}

.navbar, .mobile-menu {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 27px;
    transition: color 0.3s;
}
.home {
    margin-right: 40px;
}

.giclee {
    margin-right: 40px;
}

.shop {
    margin-right: 40px;

}
.navbar a:hover {
    color: #349ef5; /* Change to your desired hover color */
    text-decoration: underline;
}

.navbar img, .mobile-menu img {
    width: 40px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    filter: brightness(0) invert(1); /* Change color to white */
    transition: fill 0.3s,

}
.hamburger-menu {
    margin-right: 10px;
}

.brigLogo img {
    width: 150px;
    height: auto;
    margin: 10px;
}


.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 35px;
    justify-items: center;
    padding-top:20px;
    padding-left:70px;
    padding-right:70px;
    padding-bottom:20px;
    overflow: hidden;
    grid-auto-flow: dense; /* Pack items densely */
    object-fit: contain;
    justify-content : center;
    
}
/* Show the content with fade in effect */
.content.show {
    transform: translateX(0); 
}
.content.hide {
    display: none;
}

.artwork {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.5s; /* Add transition for opacity */
    opacity: 0; /* Set initial opacity to 0 */
    top: 50px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    object-fit: fill;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        top: 50px; /* Start from a position below the viewport */
    }
    to {
        opacity: 1;
        top: 0; /* Slide up to its original position */
    }
}

.artwork.fade-in {
    animation: fadeInUp 0.5s ease forwards; /* Use the fadeInUp animation */
}

.artwork:hover {
    transform: scale(1.05);
}
.glance {
    height:300px;
}
.glance_inner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.glance_inner h1{
    color: white;
    font-family: monospace;
    font-size: 50px;
    display: show;
}
.artwork-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: fill
}

.artwork-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.mobile-menu a{
    text-decoration: none;
}
.cart-quantity {
    color: white;
    text-align: center;
    font-size: 27px;
    padding: 0 1px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    background-color: #040404;
    color: white;
    text-align: center;
    z-index: 999;
}
.footer.hide{
    display:none;

}
.contact_form {
    align-items: flex-start;
    margin-right: 20px;
    text-align: left;
}

.email-input-container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    margin: auto; /* Center the container horizontally */
    width: 100%;
    margin-bottom: 20px;
}

#emailInput {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: auto; /* Push input box to the bottom */
    margin-bottom: auto; /* Push input box to the bottom */
}

.contact_form button[type="submit"] {
    padding: 10px;
    background-color: #349ef5;
    color: #040404;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact_form button[type="submit"]:hover {
    background-color: #0056b3; /* Change to desired hover color */
}

.contact_info {
    flex-basis: 30%; /* Adjust width as needed */
    text-align: left;
    font-size: 20px;
}

.contact_form h1 {
    font-size: 30px; /* Adjust font size as needed */
    margin-bottom: 10px;
}

.contact_form p {
    margin-bottom: 20px;
    font-size: 16px; /* Adjust font size as needed */
}

.contact_form input[type="email"] {
    width: calc(100% - 20px); /* Subtract padding and border width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    flex-basis: 100%; /* Take full width of the footer */
    text-align: center;
    color: white;
    font-family: monospace;
    margin-top: 20px;
}

.description {
    margin-bottom: 20px;
}

.confirmation-msg {
    margin-top: 0px; /* Adjust the margin as needed */
    color: white; /* Color of the confirmation message */
    font-size: 14px; /* Font size of the confirmation message */
    /* Add any other styles as per your design */
}

.error-msg {
    margin-top: 0px; /* Adjust the margin as needed */
    color: white; /* Color of the error message */
    font-size: 14px; /* Font size of the error message */
}
.contact_info h1 {
    font-size: 30px;
}

/* Media Queries */
@media (max-width: 827px) {
    .cart-quantity-mobile {
        display:inline-block;
        color: white;
        font-size: 27px;
        padding: 0 1px;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 35px;
        justify-items: center;
        padding-top:20px;
        padding-left:70px;
        padding-right:70px;
        padding-bottom:20px;
        overflow: hidden;
        grid-auto-flow: dense; /* Pack items densely */
    }
    .navbar {
        display: none;
    }
    body{
        overflow: hidden;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .mobile-dropdown {
        display: none;
        flex-direction: column;
        background-color: #040404;
        position: fixed;
        top: 450px; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
        z-index: 999;
        text-align: center;
        box-sizing: border-box;
        overflow-y: auto; /* Enable vertical scrolling if needed */
    }
    
    .mobile-dropdown a {
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 50px; /* Increase font size */
        width: 100%;
        transition: color 0.3s;
        box-sizing: border-box;
        display: block;
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
    }
    
    .mobile-dropdown a:hover {
        color: #349ef5;
        text-decoration: underline;
    }
    
    .mobile-dropdown.show {
        display: block;
    }
    .artwork {
        width: 100%;
        height: auto;
    }
    .footer {
        flex-direction: column;
        text-align: center;

    }
}
