/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the login page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

/* Style the portal container */
.portal-container {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.portal_logo {
    width: 100%;
    text-align: center; /* Center the image */
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    display: inline-block; /* Ensure the image doesn't take full width */
}
/* Style the toggle buttons */
.toggle-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.toggle-button:hover {
    background-color: #0056b3;
}

/* Style the forms */
.portal-form {
    margin-top: 20px;
    margin-bottom: 20px; 
    display: none;
}

.portal-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.portal-form input[type="text"],
.portal-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.portal-form button[type="submit"],
.portal-form button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Nice green color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.portal-form button[type="submit"]:hover,
.portal-form button[type="button"]:hover {
    background-color: #45a049; /* Darker shade for hover effect */
}

/* Style the message div */
#message {
    margin-top: 20px;
    color: red;
}
