:root {
    --base-font-size: 25px; /* Set the base font size */
    --font-size-increase-factor: 0.01; /* Set the factor by which font size increases per pixel */
    --base-margin-left: 25px;
    --base-margin-right: 25px; /* Set the base left margin */
    --margin-left-increase-factor: 0.1; /* Set the factor by which left margin increases per pixel */
    --bar-width: 45px;
    --bar-height: 8px;
    --hamburger-gap:4px;
    --foreground: white;
    --background: #040404;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --background-color-blue: #349ef5;
    --shopping-cart-icon-height: 56px;
    --shopping-cart-icon-width: 39px;
    --hamburger-menu-icon-height: 48px;
    --hamburger-menu-icon-width: 32px;
}


.hamburger-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:4px;
}

.icon-wrapper {
    height: 56px;
    
}
.icon-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-bottom: 2px solid #040404;
}

.icon-wrapper {
    width: var(--shopping-cart-icon-width);
    height: var(--shopping-cart-icon-height);
    position: relative;
    overflow: hidden;
}

.icon-cart:hover {
    border-bottom: 2px solid var(--background-color-blue);
}

.icon-wrapper .cart-line-1 {
    width: 30%;
    height: 7%;
    position: absolute;
    right: 73%;
    top: 43%;
    /* -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);  */
    background-color: #000;
    border-bottom-left-radius: 35%;
}

.icon-wrapper .cart-line-2 {
    width: 39%;
    height: 7%;
    position: absolute;
    left: 6%;
    top: 55%;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg); 
    background-color: #000;
}

.icon-wrapper .cart-line-2:before {
    content: "";
    width: 125%;
    height: 95%;
    position: absolute;
    left: 40%;
    top: -200%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg); 
    background-color: inherit;
}

.icon-cart .cart-line-2:after {
    content: "";
    width: 87%;
    height: 113%;
    position: absolute;
    left: 40%;
    top: -510%;
    background-color: inherit;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); 
    border-top-left-radius: 70%;
    border-bottom-left-radius: 10%;
}

.icon-cart .cart-line-3 {
    width: 30%;
    height: 5%;
    position: absolute;
    left: 35%;
    top: 60%;
    background-color: #000;
}

.icon-cart .cart-line-3:after {
    content: "";
    width: 124%;
    height: 100%;
    position: absolute;
    top: -150%;
    left: -5%;
    background-color: inherit;
}

.icon-cart .cart-wheel {
    width: 13%;
    height: 11%;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 27%;
    bottom: 15%;
}

.icon-cart .cart-wheel:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 190%;
    bottom: 0;
}
.icon-wrapper div {
    background-color: #040404;
}

#nav-icon3 {
    width: var(--hamburger-menu-icon-width);
    height: var(--hamburger-menu-icon-height);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    border-bottom: 2px solid #040404  ;
    margin-right:10px;
}
#nav-icon3:hover {
    border-bottom: 2px solid var(--background-color-blue);
}

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  /* Icon 3 */


#nav-icon3 span:nth-child(1) {
    top: 21px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 30.5px;
}

#nav-icon3 span:nth-child(4) {
    top: 40px;
}


#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
    overflow-x: hidden !important;
    background-color: #040404;
    display: flex;
    flex-direction: column; /* Make the body a flex container with column direction */
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin:left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;  
    outline: none;
    pointer-events: none; 
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040404;
    padding: 20px 40px;
}

.navbar, .mobile-menu {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 27px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #349ef5;
    text-decoration: underline;
}
.mobile-menu {
    display: none;
}
.navbar img, .mobile-menu img {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: fill 0.3s;
    filter: brightness(0) invert(1);
}
.hamburger-menu {
    margin-right: 10px
}
.home,
.giclee,
.shop {
    margin-right: 40px;
    margin-top: 17px;
}
.brigLogo img {
    width: 150px;
    height: auto;
    margin: 10px;
}
.content {
    flex: 1; /* Make the content flex-grow to take up remaining space */
    display: flex;
    flex-direction: column;
    background-color: #040404;
    margin-left:25px;
    margin-right:25px;

}

.content.hide{
    display: none;
}
.footer_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040404;
    color: white;
    z-index: 999;
}
.footer_navbar a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}
.footer_navbar a:hover{
    text-decoration: underline var(--background-color-blue) 2px;

}
.footer.hide{
    display:none;
}


.content_cart{
    margin-top: 100px;
    margin-left:var(--base-margin-left);
    margin-right:var(--base-margin-right);
    text-align:left;
    color:white;
    font-size:var(--base-font-size) + 14px;
}

.content_cart h1{
    font-size: 50px;
}

.content_cart h2{
    font-weight: 400;
    font-size: 45px;
}
.content_cart p {
    font-size: 25px;
    margin-bottom:100px;
    max-width: 1300px;

}
.cart-quantity {
    color: white;
    text-align: center;
    font-size: 27px;
    padding: 0 1px;
    margin-top: 14px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    background-color: #040404;
    color: white;
    text-align: center;
    z-index: 999;
}
.contact_form {
    align-items: flex-start;
    margin-right: 20px;
    text-align: left;
}

.email-input-container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    margin: auto; /* Center the container horizontally */
    width: 100%;
    margin-bottom: 20px;
}

#emailInput {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: auto; /* Push input box to the bottom */
    margin-bottom: auto; /* Push input box to the bottom */
}

.contact_form button[type="submit"] {
    padding: 10px;
    background-color: white;
    color: #040404;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color:black;
    border: 1px solid white;
}
.contact_form button[type="submit"]:hover {
    background-color:#040404;
    color: white; /* Change to desired hover color */
    border: 1px solid white;
}

.contact_info {
    flex-basis: 30%; /* Adjust width as needed */
    text-align: left;
    font-size: 20px;
}

.contact_form h1 {
    font-size: 30px; /* Adjust font size as needed */
    margin-bottom: 10px;
}

.contact_form p {
    margin-bottom: 20px;
    font-size: 16px; /* Adjust font size as needed */
}

.contact_form input[type="email"] {
    width: calc(100% - 20px); /* Subtract padding and border width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    flex-basis: 100%; /* Take full width of the footer */
    text-align: center;
    color: white;
    font-family: monospace;
    margin-top: 20px;
}

.description {
    margin-bottom: 20px;
}

.confirmation-msg {
    margin-top: 0px; /* Adjust the margin as needed */
    color: white; /* Color of the confirmation message */
    font-size: 14px; /* Font size of the confirmation message */
    /* Add any other styles as per your design */
}

.error-msg {
    margin-top: 0px; /* Adjust the margin as needed */
    color: white; /* Color of the error message */
    font-size: 14px; /* Font size of the error message */
}

/* Media Queries */
@media (max-width: 827px) {
    .cart-quantity-mobile {
        display:inline-block;
        color: white;
        font-size: 26px;
        padding: 0 1px;
        margin-top: 14px;
    }
    .navbar {
        display: none;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu.hide{
        display: none;
    }
    .mobile-dropdown {
        display: none;
        flex-direction: column;
        background-color: #040404;
        position: fixed;
        top: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        text-align: center;
        box-sizing: border-box;
        overflow-y: auto;
    }
    .mobile-dropdown a {
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 50px;
        width: 100%;
        transition: color 0.3s;
        box-sizing: border-box;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mobile-dropdown a:hover {
        color: white;
        text-decoration: underline var(--background-color-blue) 2px;
    }
    .mobile-dropdown.show {
        display: block;
    }

}
@media (min-width: 1093px) {
    .content_cart {
        font-size: calc(var(--base-font-size) + (var(--font-size-increase-factor) * (100vw - 700px)));
        margin-left: calc(30px + var(--base-margin-left) + (var(--margin-left-increase-factor) * (100vw - 700px)));
    }
    .content_cart h1 {
        font-size: calc(41px + (var(--font-size-increase-factor) * (100vw - 700px)));
    }
    .content_cart h2 {
        font-size: calc(25px + (var(--font-size-increase-factor) * (100vw - 700px)));
    }
    .content_cart p {
        font-size: calc(19px + (var(--font-size-increase-factor) * (100vw - 700px)));
    }

}
