
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--image-width) - 15px), 1fr));
    grid-auto-rows: minmax(calc(var(--image-height + 10px)), auto);
    grid-gap: var(--grid-gap);
    justify-items: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    overflow: hidden;
    grid-auto-flow: dense;
    object-fit: contain;
    justify-content: center;
}

.content.show {
    transform: translateX(0); 
}
.content.hide {
    display: none;
}

.artwork {
    height: var(--image-height);
    width: var(--image-width);
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    overflow-x: hidden; 
    object-fit: fill; 
    /* transform: translateY(100%); */
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    user-select: none;
}
.artwork-wrapper {
    width:var(--image-width);
    height: var(--image-height);
    object-fit: fill;
    transition-duration: 0.5s;
}
.artwork-wrapper:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
@keyframes slideInUp {
    from {
        transform: translateY(25%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-in {
    opacity: 1;
    animation: slideInUp 1s ease forwards; /* Set opacity to 1 to fade in */ /* Remove bottom offset to fade in from bottom to top */
}

.glance {
    min-height:10vh;
}
.glance_inner {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: top;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
    border-bottom: 1px solid hsla(0, 0%, 39%, .8);
}
.glance_inner h1{
    color: white;
    font-family: monospace;
    font-size: 50px;
    display: show;
}

