:root {
    --image-width: 80px !important;
    --image-height: 150px !important;
}
.content {
    flex: 1; /* Make the content flex-grow to take up remaining space */
    display: flex;
    flex-direction: column;
    background-color: #040404;
    min-height: 385px;
    
}
.content_cart{
    margin-left:49px;
    margin-right:49px;
    text-align:left;
    background-color: #040404;
}
.artwork {
    height: var(--image-height);
    width: var(--image-width);
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    user-select: none;
}

.content.hide{
    display: none;
}

.info_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 70px;
    margin-top: 5px;
    width: inherit;
    border-bottom: 1px solid hsla(0,0%,39%,.8);
}

.image_container {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    vertical-align: middle;
    margin-bottom: 5px;
    object-fit: fill;
    margin-right: 5px;
}

.img_wrapper {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}
.title_container {
    display: inline-block; /* Change display to inline-block */
    margin-bottom: 22px;
    vertical-align: middle;
    color: white;
    font-size: 16px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowing text */ /* Adjust max-width based on your design */
}

.title_container p{
    width: 195px;
    margin: 0 ;
}

.content_cart h1{
    color:white;
}

.quantity-container {
    display:flex;
    flex-direction: row;
    white-space: nowrap;
    color: white;
    flex-wrap: wrap;
    margin-top:5px;
    margin-bottom:5px;
    max-height:40px;
    margin-left:auto;

}
.quantity-controls {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-right: 0px;
    margin-bottom:150px;
    margin-left:auto;
}
.price-remove-container {
    display: inline-block;

}

.quantity-container button {
    background: transparent;
    border: medium;
    color: inherit;
    position: relative;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 99999px;
    padding: 10px 20px;
    background-color: 50%;
    font-size: 15px;
}
.quantity-input {
    color: inherit;
    font-size: 16px;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: white;
    background-color: transparent;
    flex: 1 1 0%;
    font-family: inherit;
    line-height: 22px;
    padding: 0px;
    border: medium;
    caret-color: black;
    vertical-align: top;
    width: 10%;
    max-width: 75px;
    min-width: 65px;
    margin: 0px;
}
input[readonly]:focus {
    outline: none;
}
.quantity-container button:hover {
    background-color: white;
    color: black;
    transition : background-color 0.3s;
}

.quantity-container p {   
    margin-top:10px;
}

.price {
    display: inline-block;
    font-size: 16px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    margin-right:15px;
    width:250px;
}
.empty-cart-message {
    color: white;
    font-size: 20px;
    margin : 10px 0;
    text-align: center;
}

.mobile-menu {
    display: none;
}
.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.checkout-container.hide{
    display:none;
}

.checkout-container button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    height:70px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    max-width: 350px;
}

.checkout-container button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 8px 0;
}
.cart-quantity {
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 0 1px;
    margin-top: 14px;
}

.remove-item {
    padding: 5px 6px;
    background-color: #349ef5; /* Example color for remove button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Add margin between price and remove button */
}
.remove-item:hover {
    background-color: #0056b3; /* Example color on hover for remove button */
}
.continue-shopping-container {
    text-align: center;
    margin-top: 20px;
}

.more-shop-styles {
    background-color: white;
    margin-top: 100px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px 40px 30px 40px;
    font-size: 20px;
    min-width: 320px;
    width:100%;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline from anchor tag */
}
.shop-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}


.more-shop-styles:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.continue-shopping-btn:hover {
    background-color: #0056b3;
}
/* Media Queries */
@media (max-width: 960px) {
    .image_container{
        margin-bottom:0;
    }
    .image_container img{
        margin-right:6px;
    }
    
    .content_cart {
        line-height: 1.5em;
    }
    .quantity-container {
        margin-left:0;
        width:100%;
    }
    .quantity-controls{
        margin-left:0px;
    }
    .price{
        margin-left:auto;
        width: auto;
        margin-right:5px;
    }
}