<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Art Showcase - Portal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles_brig_portal.css') }}?v={{ version }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="{{ url_for('static', path='/brig_portal.js') }}?v={{ version }}" defer></script>
    <script async src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="portal-container">
        <div class="portal_logo">
            <img src="{{ brig_logo_url }}" alt="Logo" class="logo" oncontextmenu="return false;" draggable="false">
        </div>
        <button class="toggle-button" onclick="toggleForm('swap-image-form')">Swap Image</button>
        <form id="swap-image-form" class="portal-form" style="display:none;">
            <label for="title">Current Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="new-title">New Title:</label>
            <input type="text" id="new-title" name="new_title" required>

            <label for="file-upload">Upload File:</label>
            <input type="file" id="file-upload" name="file_upload" required>

            <button type="button" id="submit-button" onclick="submitForm()">Submit</button>
        </form>

        <button class="toggle-button" onclick="toggleForm('add-image-form')">Add Image(s)</button>
        <form id="add-image-form" class="portal-form" style="display:none;">
            
            <!-- Add Image(s) form content -->
            <label for="add-file-upload">Upload File(s):</label>
            <input type="file" id="add-file-upload" name="add_file_upload" required multiple>
            <div id="file-inputs-container"></div> 
            <button type="button" id="add-submit-button" onclick="submitAddForm()">Submit</button>
        </form>
        
        <div id="message" style="display:none;"></div>
    </div>
</body>
</html>
